<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Events</title>

<link rel="stylesheet" href="/adminPage/adminevent.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>


 <nav class="navbar navbar-inverse" id="nav-bar-login-signup" style="background: #312929;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Event Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/basicevents">Events</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">           
                <li><a href="/login"><span >click to login</span></a></li>
            </ul>
        </div>
    </nav>
    
    
    
    
    <div class="card-container">
        <div class="card-div">
            <div class="card" th:each="event : ${basicEventsInDatabase}">
                <h1 class="card-title" th:text="${event.eventName}">Event Name</h1>
                <img th:src="${event.imageUrl}" alt="Event Image" />
                <p>Date and Time: <span th:text="${event.date}">Date and Time</span></p>
                <p>Location: <span th:text="${event.city}">Location</span></p>             
                 <h1 style="color:white; font-size:1.5rem;">Ticket Price:<span th:text="${event.price}"></span></h1>      
                <p>Login to register for this event</p>
            </div>
        </div>
    </div>



</body>
</html>