<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Page</title>
    <link rel="stylesheet" href="/adminPage/adminevent.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" id="nav-bar-login-signup" style="background: #312929;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/userdashboard">Event Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/userdashboard">Home</a></li>
                <li class="active"><a href="/userevents">Events</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/profile"><span th:text="${session.userName}"></span></a></li>              
            </ul>
        </div>
    </nav>

    <div class="card-container">
    <div class="card-div">
        <div class="card" th:each="event : ${allUserEventsInDatabase}">
            <h1 class="card-title" th:text="${event.eventName}">Event Name</h1>
            <img th:src="${event.imageUrl}" alt="Event Image" />
             <p>Date: <span th:text="${event.date}">Date and Time</span></p> 
            <p>Location: <span th:text="${event.city}">Location</span></p>
            <!-- <h3>Event Date: <span th:text="${event.date}"></span></h3> -->
            <h1 style="color:white; font-size:1.5rem;">Ticket Price:<span th:text="${event.price}"></span></h1>
          <form th:action="@{'/registerevent/' + ${event.eventId}}" method="post">
            <button type="submit" class="register-button" >
                Register
            </button>
            </form>

         <!-- Modal -->
            <!-- <form class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:action="@{'/registerevent/' + ${event.eventId}}" method="post">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Register Event</h5>
                            
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h2>Event Title: <span th:text="${event.eventName}"></span></h2>
                            <h4>Price:<span th:text="${event.price}"></span></h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm Registration</button>
                        </div>
                    </div>
                </div>
            </form> -->
        </div>
    </div>
</div>
</body>
</html>
